Standard: c++14
BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 100
AccessModifierOffset: -4
BreakBeforeBraces: Allman
AlignEscapedNewlines: Left
SortIncludes: Never
Language: Cpp
PointerAlignment: Left
SpaceBeforeCpp11BracedList: true
TabWidth: 4
UseTab: Always
AlwaysBreakTemplateDeclarations: Yes
BreakConstructorInitializers: AfterColon
ConstructorInitializerAllOnOneLineOrOnePerLine: false
NamespaceIndentation: None
