# Other files
src/main.cpp

# Executables
myprog
run_tests

# CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# Catch2
DartConfiguration.tcl
vgcore.*
*.cmake
